body{
    background-image: url(1.jpg);
    background-size: cover;
}

.btn-lg{
  align-content: center;
  margin-top: 100px;
  margin-left: 600px;

  }

  .h1{
      text-align: center;
      text-decoration: darkkhaki;
      margin-top: 200px;
      background-color: floralwhite;
      font-family: fantasy;
      text-shadow: gold;
      font-size: 55px;

 